.footer-dark p {
  font-size: 1000px;
  font-family: "poppins";
  font-weight: bold;
}

.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}
.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}
.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}
.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}
.footer-dark ul a:hover {
  opacity: 0.8;
}
.footer-dark .item.text {
  margin-bottom: 36px;
}
.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}
.footer-dark .item.social {
  text-align: center;
}
.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}
.footer-dark .item.social > a:hover {
  opacity: 0.9;
}
.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}
@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}
.header-blue {
  background: linear-gradient(135deg, #2e4526, #13ae64);
  background-color: #f8f8f8;
  padding-bottom: 80px;
  font-family: "Source Sans Pro", sans-serif;
}
.header-blue .navbar {
  background: transparent;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #fff;
  border-radius: 0;
  box-shadow: none;
  border: none;
}
.header-blue .navbar .navbar-brand {
  font-weight: bold;
  color: inherit;
}
.header-blue .navbar .navbar-brand:hover {
  color: #f0f0f0;
}
.header-blue .navbar .navbar-collapse {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 0.5rem;
}
.header-blue .navbar .navbar-collapse span .login {
  color: #d9d9d9;
  margin-right: 0.5rem;
  text-decoration: none;
}
.header-blue .navbar .navbar-collapse span .login:hover {
  color: #fff;
}
.header-blue .navbar .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.3);
}
.header-blue .navbar .navbar-toggler:hover {
  background: none;
}
.header-blue .navbar-toggler:focus {
  background: none;
}
.header-blue .navbar .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 2px;
}
.header-blue .navbar .dropdown-menu .dropdown-item {
  line-height: 2;
  color: #37434d;
}
.header-blue .navbar .dropdown-menu .dropdown-item:focus {
  line-height: 2;
  color: #37434d;
  background: #ebeff1;
}
.header-blue .navbar .dropdown-menu .dropdown-item:hover {
  background: #ebeff1;
}
.header-blue .action-button {
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 40px;
  color: #ebeff1;
  box-shadow: none;
  text-shadow: none;
  padding: 0.3rem 0.8rem;
  background: transparent;
  transition: background-color 0.25s;
  outline: none;
}
.header-blue .action-button:not(.disabled):active {
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 40px;
  color: #ebeff1;
  box-shadow: none;
  text-shadow: none;
  padding: 0.3rem 0.8rem;
  background: transparent;
  transition: background-color 0.25s;
  outline: none;
}
.header-blue .action-button:hover {
  color: #fff;
}
.header-blue .navbar form label {
  color: #d9d9d9;
}
.header-blue .navbar form .search-field {
  display: inline-block;
  width: 80%;
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  color: #ccc;
  box-shadow: none;
  color: inherit;
  transition: border-bottom-color 0.3s;
}
.header-blue .navbar form .search-field:focus {
  border-bottom: 1px solid #ccc;
}
.header-blue .hero {
  margin-top: 20px;
  text-align: center;
}
.header-blue .hero h1 {
  color: #fff;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 300;
  line-height: 1.4;
}
.header-blue .hero p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 300;
}
.header-blue .phone-holder {
  text-align: right;
}
.header-blue div.phone-mockup {
  position: relative;
  max-width: 300px;
  margin: 20px;
  display: inline-block;
  z-index: 1;
}
.header-blue .phone-mockup img.device {
  width: 100%;
  height: auto;
}
.header-blue .phone-mockup .screen {
  position: absolute;
  width: 94%;
  height: 98%;
  top: 1%;
  left: 3%;
  border: 1px solid #444;
  border-radius: 20px;
  background-color: #aaa;
  overflow: hidden;
  background: url(../../assets/img/screen-content-phone.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.header-blue .phone-mockup .screen:before {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 70%;
  height: 140%;
  top: -12%;
  right: -60%;
  transform: rotate(-19deg);
  opacity: 0.2;
}

@media (min-width: 768px) {
  .header-blue {
    padding-bottom: 120px;
  }
}
@media (min-width: 768px) {
  .header-blue .navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
@media (min-width: 768px) {
  .header-blue .navbar .navbar-collapse {
    border-color: transparent;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .header-blue .navbar-nav .nav-link {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
}
@media (min-width: 992px) {
  .header-blue .navbar-nav .nav-link {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}
@media (min-width: 768px) {
  .header-blue .hero {
    margin-top: 60px;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .header-blue .hero h1 {
    margin-top: 190px;
    margin-bottom: 24px;
    line-height: 1.2;
  }
}
.photo-gallery {
  color: #313437;
  background-color: #fff;
}
.photo-gallery p {
  color: #7d8285;
}
.photo-gallery h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}
.photo-gallery .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px;
}
.photo-gallery .intro p {
  margin-bottom: 0;
}
.photo-gallery .photos {
  padding-bottom: 20px;
}
.photo-gallery .item {
  padding-bottom: 30px;
}

@media (max-width: 767px) {
  .photo-gallery h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}
.navigation-clean-button {
  background: #fff;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}
.navigation-clean-button .navbar-brand {
  font-weight: bold;
  color: inherit;
}
.navigation-clean-button .navbar-brand:hover {
  color: #222;
}
.navigation-clean-button .navbar-toggler {
  border-color: #ddd;
  color: #888;
}
.navigation-clean-button .navbar-toggler:hover, .navigation-clean-button .navbar-toggler:focus {
  background: none;
}
.navigation-clean-button .navbar-nav a.active, .navigation-clean-button .navbar-nav > .show > a {
  background: none;
  box-shadow: none;
}
.navigation-clean-button.navbar-light .navbar-nav a.active {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none;
}
.navigation-clean-button.navbar-light .navbar-nav a.active:focus, .navigation-clean-button.navbar-light .navbar-nav a.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none;
}
.navigation-clean-button.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px;
}
.navigation-clean-button.navbar-light .navbar-nav .nav-link {
  color: #465765;
}
.navigation-clean-button.navbar-light .navbar-nav .nav-link:focus, .navigation-clean-button.navbar-light .navbar-nav .nav-link:hover {
  color: #37434d !important;
  background-color: transparent;
}
.navigation-clean-button .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 2px;
}
.navigation-clean-button .dropdown-menu .dropdown-item {
  line-height: 2;
  font-size: 14px;
  color: #37434d;
}
.navigation-clean-button .dropdown-menu .dropdown-item:focus {
  line-height: 2;
  font-size: 14px;
  color: #37434d;
  background: #eee;
  color: inherit;
}
.navigation-clean-button .dropdown-menu .dropdown-item:hover {
  background: #eee;
  color: inherit;
}
.navigation-clean-button .actions .login {
  margin-right: 1rem;
  text-decoration: none;
  color: #465765;
}
.navigation-clean-button .navbar-text .action-button {
  background: #56c6c6;
  border-radius: 20px;
  font-size: inherit;
  color: #fff;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.25s;
  font-size: inherit;
}
.navigation-clean-button .navbar-text .action-button:active {
  background: #56c6c6;
  border-radius: 20px;
  font-size: inherit;
  color: #fff;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.25s;
  font-size: inherit;
}
.navigation-clean-button .navbar-text .action-button:hover {
  background: #56c6c6;
  border-radius: 20px;
  font-size: inherit;
  color: #fff;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.25s;
  font-size: inherit;
  background: #66d7d7;
}

@media (min-width: 768px) {
  .navigation-clean-button {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.navigation-clean-search {
  background: #fff;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}
.navigation-clean-search .navbar-brand {
  font-weight: bold;
  color: inherit;
}
.navigation-clean-search .navbar-brand:hover {
  color: #222;
}
.navigation-clean-search .navbar-toggler {
  border-color: #ddd;
  color: #888;
}
.navigation-clean-search .navbar-toggler:hover, .navigation-clean-search .navbar-toggler:focus {
  background: none;
}
.navigation-clean-search .navbar-collapse, .navigation-clean-search .search-form {
  border-top-color: #ddd;
}
.navigation-clean-search .navbar-nav a.active, .navigation-clean-search .navbar-nav > .show > a {
  background: none;
  box-shadow: none;
}
.navigation-clean-search.navbar-light .navbar-nav a.active {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none;
}
.navigation-clean-search.navbar-light .navbar-nav a.active:focus, .navigation-clean-search.navbar-light .navbar-nav a.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none;
}
.navigation-clean-search.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px;
}
.navigation-clean-search.navbar-light .navbar-nav .nav-link {
  color: #465765;
}
.navigation-clean-search.navbar-light .navbar-nav .nav-link:focus, .navigation-clean-search.navbar-light .navbar-nav .nav-link:hover {
  color: #37434d !important;
  background-color: transparent;
}
.navigation-clean-search .action-button {
  background: #56c6c6;
  border-radius: 20px;
  font-size: inherit;
  color: #fff !important;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: 8px 20px;
  transition: background-color 0.25s;
}

@media (min-width: 768px) {
  .navigation-clean-search {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.navigation-clean-button .action-button:active {
  background: #56c6c6;
  border-radius: 20px;
  font-size: inherit;
  color: #fff !important;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: 8px 20px;
  transition: background-color 0.25s;
}

.navigation-clean-search .action-button:hover, .navigation-clean-search .action-button:focus {
  background: #66d7d7;
}
.navigation-clean-search .search-form label {
  color: #ccc;
}
.navigation-clean-search .search-form .search-field {
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  color: #ccc;
  box-shadow: none;
  color: inherit;
  transition: border-bottom-color 0.3s;
}
.navigation-clean-search .search-form .search-field:focus {
  border-bottom: 1px solid #ccc;
}

@media (max-width: 767px) {
  .navigation-clean-search .search-form .search-field {
    display: inline-block;
    width: 80%;
  }
}
.testimonials-clean {
  color: #313437;
  background-color: #eef4f7;
}
.testimonials-clean p {
  color: #7d8285;
}
.testimonials-clean h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}
.testimonials-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}
.testimonials-clean .intro p {
  margin-bottom: 0;
}
.testimonials-clean .people {
  padding: 50px 0 20px;
}
.testimonials-clean .item {
  margin-bottom: 32px;
}
.testimonials-clean .item .box {
  padding: 30px;
  background-color: #fff;
  position: relative;
}
.testimonials-clean .item .box:after {
  content: "";
  position: absolute;
  left: 30px;
  bottom: -24px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-width: 12px 15px;
  border-top-color: #fff;
}
.testimonials-clean .item .author {
  margin-top: 28px;
  padding-left: 25px;
}
.testimonials-clean .item .name {
  font-weight: bold;
  margin-bottom: 2px;
  color: inherit;
}
.testimonials-clean .item .title {
  font-size: 13px;
  color: #9da9ae;
}
.testimonials-clean .item .description {
  font-size: 15px;
  margin-bottom: 0;
}
.testimonials-clean .item img {
  max-width: 40px;
  float: left;
  margin-right: 12px;
  margin-top: -5px;
}

@media (max-width: 767px) {
  .testimonials-clean h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}
@media (min-width: 768px) {
  .testimonials-clean .item {
    height: 220px;
  }
}

/*# sourceMappingURL=destino.css.map */
